.categories {
  width: 285px;
  height: max-content;
  border-radius: 8px;
  border: none;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 60px;
  padding-right: 5px;
  background-color: #FFFFFF;
  margin-right: 20px;
}

.categories__list {
  display: flex;
  list-style: none;
  flex-direction: column;
}




