.basket {
  width: 34%;
  background: #FFFFFF;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: max-content;
  margin-right: 20px;
}

.basket__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

.basket__list {
  list-style: none;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
}

.basket__list__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.basket__list__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

.basket__list__price {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

.basket__bottom {
  margin-top: 178px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.basket__bottom__price {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
}

.basket__bottom__btn {
  width: 79px;
  height: 34px;
  background: #000000;
  color: #FFFFFF;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
}

.books {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.books__undefined {
  width: 100vw;
  height: calc(100vh - 118px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px
}



